@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
span {
    color: blue;
    cursor: pointer;
}
span:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 169, 135);
    padding: 25px 0px;
    height: 100vh;
} 
form {
    width: 50%;
    border-radius: 10px;
    border-top: 6px solid #480403;
    border-bottom: 6px solid #480403;
    background-color: #ffffff;
    padding: 30px 50px;
    box-shadow: 2px 6px 37px -10px rgba(0,0,0,0.75);
}
label {
    color: #480403;
    font-weight: 600;
}
input {
    border: 2px solid #FFA987;
    color: #480403;
    padding: 6px 10px;
}
h1, p.abeg {
    margin-bottom: 10px;
    color: #480403;
}
.top {
    border-bottom: 2px solid #FFA987;
    margin-bottom: 20px;
}
.flex {
    display: flex;
}
.left {
    width: 47%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
}
.right {
    width: 47%;
    display: flex;
    flex-direction: column;
}
.mail, .password, .cpassword {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.cpassword {
    margin-top: 0px;
}
p.length, p.error {
    color: red;
    font-size: 10px;
    height: 16px;
}
.checkbox {
    display: flex;
    align-items: center;
    margin: 5px 0px 15px 0px;
}
p.check {
    margin-left: 10px;
}
input[type="submit"]{
    background-color: #480403;
    color: #ffffff;
    border: 2px solid #480403;
    cursor: pointer;
    padding: 7px 40px;
    margin-top: 5px;
}
input[type="submit"]:disabled {
    background-color: #48040363;
    border: 2px solid #48040363;
    cursor: no-drop;
}
p.log {
    margin-top: 15px;
    font-weight: 600;
    color: #480403;
}
a {
    color:#480403;
}
.lol {
    margin-top: 20px;
}
.fa {
    margin-left: -30px;
    color: #ffffff;
}

/* Media Queries */
@media all and (max-width: 780px){
    form {
        width: 70%;
    }
}
@media all and (max-width: 480px){
    form {
        width: 90%;
        padding: 20px 15px;
    }
    .flex {
        display: block;
    }
    .left, .right {
        width: 100%;
        margin-top: 15px;
    }
    .container {
        height: auto;
        padding-bottom: 150px;
        padding-top: 50px;
    }
    p.log {
        margin-top: 50px;
    }
    p.check {
        margin-left: 20px;
    }
    input[type="submit"]{
        margin-top: 15px;
    }
}